pandas
numpy
python-dateutil
python-dotenv
sqlite-utils
dataclasses-json
typing-extensions
requests
newsapi-python
yfinance
thefuzz
spacy
langchain-core
langchain-text-splitters
tenacity
ollama
pydantic
simplejson
langchain_ollama
streamlit